:root{

  --light: #f39c12;
  --ticolor: #9b59b6;
  --tlgre: #1abc9c;
  --borline: #e67e22;
}

/* Styles the background */
body {
  background-color: blanchedalmond;
}
#bio {
  width: 800px;
  
}

#bio p{
  border: 50px;
  padding: 20px;
  font-size: 1.2rem;
  justify-content: center;
  color: var(--ticolor);
  font-weight: bolder
  ;
}

.title {
  border: 200px;
  color: var(--light);
  padding: 20px;
}
.logo {
  display: inline-flex;
}

#hero {
  color: var(--ticolor) ;
}

.logo img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  border-bottom: 10px solid var(--borline);
}

header nav {
  margin: 20px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
}

header nav ul li a {
  padding: 8px;
  font-size: 28px;
  margin: 20px 20px 0 0;
  font-weight: bold;
  text-decoration: none;
  color: var(--light);
}
header h1 {
  font-size: 40px;
  font-weight: bold;
  color: var(--light);
  padding-left: 20px;
  /* border: 5px solid orange */
}

.heading a {
  text-decoration: none;

/* styling of the main portfolio section  */
}
.projectAreaGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 350px 350px 350px;
  grid-template-areas:
    "project1 project1"
    "project2 project3"
    "project4 project5";
}

.gridArea {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  align-content: end;
  background-color: plum;
  border-radius: 5px;
  position: relative;
  /* border: 10px solid white; */
}

/* defining and styling each project grid area */
#project1 {
  grid-area: project1;
  background-image: url("../images/project1.PNG");
  background-position: top;
}

#project2 {
  grid-area: project2;
  background-image: url("../images/project2.PNG");
  background-position: top;
  object-fit: cover;
}

#project3 {
  grid-area: project3;
  background-image: url("../images/02-portfolio-2.jpg");
  background-position: top;
  object-fit: cover;
}

#project4 {
  grid-area: project4;
  background-image: url("../images/02-portfolio-3.jpg");
  background-position: top;
}

#project5 {
  grid-area: project5;
  background-image: url("../images/02-portfolio-4.jpg");
  background-position: top;
}
.heading {
  padding: 5px;
  height: 20px;
  font-size: 18px;
  border-bottom: 30px solid whitesmoke;
  border-radius: 0 0 5px 5px;
  font-size: 1.5rem;
}
#work{
  border-bottom: 10px solid var(--borline);
}

/* styling of the footer section */
footer {
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;
  padding-top: 30px;
  margin-bottom: 30px;
}

#contact-list {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  font-size: 30px;
  font-weight: bolder;
}

footer ul li {
  padding: 5px;
  font-size: 25px;
  margin: 10px 20px 0 0;
  font-weight: bold;
  text-decoration: none;
  color: var(--light);

}

footer ul li a {
  text-decoration: none;
  color: var(--light);
  padding: 8px;
  font-weight: bold;
}

/* Adding responsiveness to page  */
@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  body {
    background-color: lightgreen;
    
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
    
  }

  #projectAreaGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 80vw;
    grid-template-areas:
      "project1"
      "project2"
      "project3"
      "project4"
      "projet5"
    ;
  }
}